.chat{
    height: 97%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    background: rgb(250,167,65);
    position: relative;
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(250,167,65,1) 0%, rgba(173,233,148,1) 100%);
    border-radius: 20px;
    margin-right: 1%;
}
.form{
    display: flex;
   position: absolute;
   bottom:20px;
    height: 3%;
    left: 5px;
    width: 100%;

}
.messages{
    margin-left: 20%;
    font-size: large;
}
.input{
 width: 60%;
 height: 100%;
 border: none;
 border-bottom:2px solid white ;
 background:transparent;
 outline: none;
 
}

.btnSend{
background: url('../assets/img/send.png') no-repeat center center;
   width:30%;
   background-size:contain;
 cursor: pointer;
 
}
.buttonConnect{background-color: #f7aa45;
    color:white;
    border-radius: 20px;
    border:none;
    border-bottom:burlywood ;
    cursor: pointer;
    margin: auto;
    height: 100%;
    width: 30%;
    }
.containerMessages{
    position: absolute;
    
    bottom: 60px;
    border-bottom:1px solid white ;
   height: 90%;
     
    width: 100%;
    overflow-y: auto;
box-sizing: border-box;
}
.containerMessages::-webkit-scrollbar {
    display: none;
  }
  .usernames{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }